:root {
    --content-width: 75vw;
    --app-bg:#f3f3f3;

    @media screen and (max-width: 1000px) {
        --content-width: 96vw;
    }

}
$background-color-theme: #f3f3f3;
$background-color-container: #fff;
$background-color-night:#111;
